<!DOCTYPE html>
<html>
<head>
  <title>RBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'favicon' %>
</head>
<body>
this is the back end
<%= yield %>

</body>
</html>